.action_button_icon {
    font-size: 21px;
    color: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    line-height: 35px;
}

.action_button_icon:last-child {
    height: 40px;
    width: 65px;
    font-size: 25px;
}