.main_wrapper {
    margin-top: 96px;
    padding-left: 80px;
}

.secondary_wrapper {
    max-width: 1200px;
    margin: 35px auto;
    background: #F5F7FB;
    box-shadow: 0 3px 11px rgb(0 0 0 / 18%);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eee;
}

@media(max-width:768px) {
    .main_wrapper {
        padding-left: 0;
        width: 95%;
        margin: 96px auto;
    }
}